<div class="container" [class.example-is-mobile]="mobileQuery.matches" *ngIf="shouldRun">
  <mat-toolbar color="primary" class="toolbar">
    <button mat-icon-button (click)="snav.toggle()"><mat-icon color="accent">menu</mat-icon></button>
    <h1 class="app-name" mx>Reminder</h1>
  </mat-toolbar>

  <mat-sidenav-container class="sidenav-container"
                         [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
    <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'"
                 [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">
      <mat-nav-list>
        <mat-list-item *ngFor="let itemMenu of menus"
        [routerLink]="itemMenu.ruta" (click)="snav.close()">
        <div matListItemIcon><mat-icon color="primary">{{itemMenu.icono}}</mat-icon></div>
        <a>{{itemMenu.item}}</a>
      </mat-list-item>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>

      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>

