
<mat-card>
  <mat-card-header>
    <mat-card-title>Descarga la app móvil Reminder</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <p>¡La aplicación móvil Reminder está disponible para descargar en tu dispositivo! Organiza tus eventos y recordatorios de manera fácil y eficiente con nuestra app.</p>
    <img mat-card-image src="../../assets/img/splash.jpg" alt="Reminder App Splash">
    <p>Pulsa el botón a continuación para descargar el apk de Reminder:</p>
    <div class="button-row">
      <a mat-raised-button color="accent" href="../../assets/APK/reminder.apk" target="_blank" download="reminder.apk">Download App</a>
    </div>
  </mat-card-content>
</mat-card>

