.button-row, h1
{
 flex: 1 1 auto;
 text-align: center;
 margin-top: 50px;
}

mat-card {
  max-width: 600px;
  margin: 20px auto;
}

img {
  display: block;
  margin: auto;
  max-width: 200px;
  max-height: 350px;
  margin-top: 16px;
  margin-bottom: 16px;
}

