<mat-card>
  <mat-card-header>
    <mat-card-title>Descarga la app móvil Reminder</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <p>
      ¡Descarga la increíble aplicación móvil Reminder ahora mismo y lleva la
      organización de tus eventos y recordatorios al siguiente nivel! Nuestra
      aplicación te brinda la oportunidad de organizar tus compromisos de manera
      fácil y eficiente, todo en la comodidad de tu dispositivo móvil.
    </p>
    <img
      mat-card-image
      src="../../assets/img/splash.jpg"
      alt="Reminder App Splash"
    />
    <p>
      No esperes más, ¡la organización de tus eventos y recordatorios está a
      solo un clic de distancia! Descarga ahora mismo la app móvil Reminder y
      simplifica tu vida de una vez por todas. ¡No te arrepentirás!:
    </p>
    <div class="button-row">
      <a
        mat-raised-button
        color="accent"
        href="../../assets/APK/Reminder.apk"
        target="_blank"
        download="Reminder.apk"
        >Download App</a
      >
    </div>
  </mat-card-content>
</mat-card>
