
<div class="container">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Reminder: Tu herramienta para organizar eventos y recordatorios</mat-card-title>
    </mat-card-header>
    <div class="image-container">
    <img mat-card-image src="../../assets/img/login.jpg" alt="Reminder App Login">
    <img mat-card-image src="../../assets/img/calendar.jpg" alt="Reminder App Calendar">
  </div>
    <mat-card-content>
      <p>¡Presentamos Reminder, la aplicación móvil definitiva para organizar tus eventos y recordatorios en un calendario fácil de usar!</p>
      <p>Con Reminder, nunca más olvidarás una reunión importante, una fecha especial o una tarea pendiente. Nuestra aplicación te permite programar eventos y recordatorios de manera rápida y sencilla, ayudándote a mantener tu vida organizada y sin estrés.</p>
      <h3>Características principales de Reminder:</h3>
      <ol>
        <li>Calendario intuitivo: Navega por tus eventos diarios de manera fluida. </li>
        <li>Visualiza tu agenda de un vistazo y planifica tu tiempo de manera eficiente.</li>
        <li>Creación de eventos personalizados: Agrega detalles importantes a tus eventos, como título, descripción y hora del evento. </li>
        <li>Recordatorios flexibles: Configura recordatorios personalizados para cada evento y asegúrate de que nunca pases por alto una cita importante.</li>
        <li>Sincronización en la nube: Mantén tus eventos siempre actualizados y accesibles en todos tus dispositivos de forma segura en la nube y accede a ellos desde cualquier lugar.</li>
        <li>Diseño atractivo y fácil de usar: Disfruta de una interfaz de usuario moderna y amigable que te permitirá navegar y utilizar Reminder sin complicaciones. Cada función está diseñada pensando en la comodidad del usuario.</li>
      </ol>
      <p>¡Nunca olvides los pequeños detalles con Reminder!</p>
      <p>No importa si eres un profesional ocupado, un estudiante con una agenda apretada o simplemente alguien que desea mantenerse organizado, Reminder es la herramienta perfecta para ti. Simplifica tu vida y aprovecha al máximo tu tiempo con nuestra aplicación de calendario confiable y eficiente.</p>
      <p>¡Descarga Reminder hoy mismo en tu dispositivo móvil y comienza a aprovechar al máximo cada día! Nunca más olvides un evento importante y mantén tu vida organizada en todo momento.</p>
    </mat-card-content>
  </mat-card>
</div>
